{% load crispy_forms_tags %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NurseApp - History Query</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Chats.js -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">NurseApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'history' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Access</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <div class="col-md-4">
            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-success">Send</button>
            </form>
          </div>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <h2>{{ result.0.patient.name }}</h2>
        <hr>
        <div class="row">
          {% if result %}

            <div class="col-md-6">
              <table class="table">
                <thead>
                  <th>Date</th>
                  <th>Vital Signs</th>
                </thead>
                <tbody>
                  {% for r in result %}
                    <tr>
                      <th>{{ r.date }}</th>
                      <th>{{ r.signs_detail|safe }}</th>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <canvas id="canvas"></canvas>
            </div>
          {% else %}
            <p>No results found.</p>
          {% endif %}
        </div>

      </div> <!-- /container -->

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <script type="text/javascript">
      var labels = [];
      var data1 = [];
      var data2 = [];
      {% for r in result %}
        labels.push('{{ r.date }}');
        data1.push(parseInt('{{ r.get_blood_pressure }}'));
        data2.push(parseInt('{{ r.get_heart_rate }}'));
      {% endfor %}
    </script>

    <script src="{% static 'js/chart.js' %}"></script>
  </body>
</html>
